<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBn_czkV6COXoTvw8MR1pQ4EjinsLpxtQU</string>
	<key>GCM_SENDER_ID</key>
	<string>432380724343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.serviciosGoogle</string>
	<key>PROJECT_ID</key>
	<string>app-servicios-is513-lj</string>
	<key>STORAGE_BUCKET</key>
	<string>app-servicios-is513-lj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432380724343:ios:c463b0c384ccad39da3272</string>
</dict>
</plist>